<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Netflix Data (select the columns you want to view)</h2>
  <p align="center"></p>
  <form method="POST" action="/view_data">
      Show ID<input type="checkbox" value="show_id" name="mycheckbox">
      Type 2<input type="checkbox" value="type" name="mycheckbox">
      Title<input type="checkbox" value="title" name="mycheckbox">
      Director<input type="checkbox" value="director" name="mycheckbox">
      Cast<input type="checkbox" value="cast" name="mycheckbox">
      Country<input type="checkbox" value="country" name="mycheckbox">
      Date Added<input type="checkbox" value="date_added" name="mycheckbox">
      Release Year<input type="checkbox" value="release_year" name="mycheckbox">
      Rating<input type="checkbox" value="rating" name="mycheckbox">
      Duration<input type="checkbox" value="duration" name="mycheckbox">
      Listen In<input type="checkbox" value="listed_in" name="mycheckbox">
      Description<input type="checkbox" value="description" name="mycheckbox">
      All<input type="checkbox" value="all" name="mycheckbox">
      <input type="submit">
  </form>
</body>
</html>
