<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
<h2>Netflix Data</h2>
<p align="center"><a href=/view_data ><button class=grey style="height:75px;width:150px">click here to view</button></a></p>
<p align="center"><a href=/column_selection ><button class=grey style="height:75px;width:150px">click here to change the data</button></a></p>
<p align="center"><a href=/download_as_csv ><button class=grey style="height:75px;width:150px">click here to download the data</button></a></p>
</body>
</html>
